## Configuration ##

SUPABASE_URL="https://your-project-ref.supabase.co"
SUPABASE_PUBLISHABLE_DEFAULT_KEY="your-supabase-publishable-key"
SUPABASE_ANON_KEY="your-supabase-anon-key"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"
SUPABASE_JWT_SECRET="your-supabase-jwt-secret"
PORT=3000
SUPERADMIN_EMAIL="admin@example.com"
SUPERADMIN_PASSWORD="secure_password_here"

# db related config
DB_PASSWORD="your-db-password"
DATABASE_URL="postgresql://postgres.your-project-ref:your-db-password@aws-0-region.pooler.supabase.com:5432/postgres"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.your-project-ref:your-db-password@aws-0-region.pooler.supabase.com:5432/postgres"
